body{
	margin: 0;
	padding: 0;
	font-family: 'PT Sans', sans-serif;
	font-size: 14px;
	font-weight: normal;
	text-transform: uppercase;
	line-height: 26px;
	text-align: left;
	color: #000000;

}

a{
	text-decoration: none;
}


.nav-options{
	font-size: 14px;
	font-weight: bold;
	line-height: 24px;
	list-style: none;
}

.nav-options a{
	color:#000000;
}

.visually-hidden{
	position: absolute;
	clip: rect(0 0 0 0);
	widows: 1px;
	height: 1px;
	margin: -1px;
	}

.slogan{
	font-size: 21px;
	font-weight: bold;
	line-height: 26px;
	text-align: center;
}

.main-screen{
	width:1200px;
	height:773px;
	background-image: url(../img/landscape.jpg);
	background-repeat: no-repeat;
	background-position: 
}

.pros{
	text-align: center;
}

.curious{
	font-size: 30px;
	font-weight: bold;
	line-height: 36px;
	text-align: center;
}

.assist{
	text-align: center;
	line-height: 24px;
}

.search{
	font-size: 21px;
	font-weight: bold;
	text-align: center;
	text-transform: uppercase;
	color: #ffffff;
}

.search-form{
	font-weight: bold;
	text-align: left;

}

.search-form button[type="submit"]{
	font-size: 21px;
	font-weight: bold;
	text-transform: uppercase;
	color: #ffffff;
}

.footer p{
	font-size: 21px;
	font-weight: bold;
	text-align: center;
}

.icons{
	list-style: none;
}

.amara h2{
	font-size: 21px;
	font-weight: bold;
	text-align: left;
}

.quail h2{
	font-size: 21px;
	font-weight: bold;
	text-align: left;
}

.poco-diablo h2{
	font-size: 21px;
	font-weight: bold;
	text-align: left;
}

.hotels{
	list-style: none;
}

.rating{
	list-style: none;
}

.hotels{
	font-size: 14px;
	line-height: 21px;
	text-align: left; 
}

.hotels a{
	font-size: 14px;
	font-weight: bold;
	line-height: 21px;
	color: #ffffff;
}
