body{
	margin: 0;
	padding: 0;
	font-family: 'PT Sans', sans-serif;
	font-size: 14px;
	font-weight: normal;
	text-transform: uppercase;
	line-height: 26px;
	text-align: left;
	color: #000000;

}

a{
	text-decoration: none;
}


.nav-options{
	font-size: 14px;
	font-weight: bold;
	line-height: 24px;
	list-style: none;
	background-color: #ffffff;
}

.nav-options a{
	color:#000000;
}

.nav-options a:hover,
.hotels h2:hover{
	color: #81b3d2;
}

.nav-options a:active,
.hotels h2:active{
	color: rgba(0, 0, 0, 0.3);
}

.nav-options .current{
	color: #766357;
}

.visually-hidden{
	position: absolute;
	clip: rect(0 0 0 0);
	widows: 1px;
	height: 1px;
	margin: -1px;
	}

.slogan{
	font-size: 21px;
	font-weight: bold;
	line-height: 26px;
	text-align: center;
}

.main-screen{
	width:1200px;
	height:773px;
	background-image: url(../img/landscape.jpg);
	background-repeat: no-repeat;
	background-position: 
}

.pros{
	text-align: center;
}

.curious{
	font-size: 30px;
	font-weight: bold;
	line-height: 36px;
	text-align: center;
}

.assist{
	text-align: center;
	line-height: 24px;
}

.search{
	font-size: 21px;
	font-weight: bold;
	text-align: center;
	text-transform: uppercase;
	color: #ffffff;
	background-color: #766357; 
}

.search:hover{
	background-color: #604e43;
}

.search:active{
	color: rgba(255, 255, 255, 0.3);
	background-color: #503e33;
}
.search-form{
	font-weight: bold;
	text-align: left;

}

.search-form button[type="submit"]{
	font-size: 21px;
	font-weight: bold;
	text-transform: uppercase;
	color: #ffffff;
	background-color: #81b3d2;
}

.search-form button[type="submit"]:hover{
	background-color: #669ec0;
}

.search-form button[type="submit"]:active{
	color: rgba(255, 255, 255, 0.3);
	background-color: #5496bd;
}

.search-form input{
	background-color: #f2f2f2;
}

.search-form input:hover{
	background-color: #ebebeb;
}

.search-form input:focus{
	border: solid 2px #e5e5e5;
	background-color: #ffffff;
}

.search-form .calendar,
.search-form button[type="button"]{
	color: #cacaca;
}

.search-form .calendar,
.search-form button[type="button"]:hover{
	color: #000000;
}

.search-form .calendar,
.search-form button[type="button"]:active{
	color: #81b3d2;
}

.footer p{
	font-size: 21px;
	font-weight: bold;
	text-align: center;
}


.icons{
	list-style: none;
}

.calendar{
	background-image: url(../img/calendar.svg);
	width: 21px;
	height: 22px;
}

.amara h2{
	font-size: 21px;
	font-weight: bold;
	text-align: left;
}

.quail h2{
	font-size: 21px;
	font-weight: bold;
	text-align: left;
}

.poco-diablo h2{
	font-size: 21px;
	font-weight: bold;
	text-align: left;
}

.hotels{
	list-style: none;
}

.rating{
	list-style: none;
}

.rating li{
	display: inline-block;
}

.hotels{
	font-size: 14px;
	line-height: 21px;
	text-align: left; 
}

.hotels a{
	font-size: 14px;
	font-weight: bold;
	line-height: 21px;
	color: #ffffff;
}

.details{
	background-color: #81b3d2;
}

.details:hover{
	background-color: #669ec0;
}

.details:active{
	color: rgba(255, 255, 255, 0.3);
	background-color: #5496bd;
}

.book{
	background-color: #766357;
}

.book:hover{
	background-color: #604e43;
}

.book:active{
	color: rgba(255, 255, 255, 0.3);
	background-color: #503e33;
}

.head-container{
	margin: 0;
	padding: 0;
	width: 1200px;
	min-height: 56px;
	display: flex;
	background-color: rgba(245, 66, 203, 0.3);

}

 .header-logo{
	margin-left: 51px;
	margin-right: 53px;
	padding: 0;
	width: 140px;
	height: 71px;
}

.header-menu{
	margin: 0;
	padding: 0;
	width: 1195px;
	min-height: 56px;
	background-color: rgba(109, 235, 123, 0.3);
	display: flex;
	flex-direction: row;
}

.header-menu li{
	width: 239px;
	height: 56px;
	background-color: rgba(235, 140, 106, 0.3);
	text-align: center;
	vertical-align: middle;
}


