*{
	box-sizing: border-box;
}

body{
	margin: 0;
	padding: 0;
	font-family: 'PT Sans', Arial, sans-serif;
	font-size: 14px;
	font-weight: normal;
	text-transform: uppercase;
	line-height: 26px;
	text-align: left;
	color: #000000;
}

a{
	text-decoration: none;
}

.wrap-all{
	width: 1200px;
	margin-left: auto;
	margin-right: auto;
	position: relative;
	box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);

}

.carpet{
	width: 1280px;
	margin-left: auto;
	margin-right: auto;
	background-color: #f2f2f2;
}

.head-container{
	margin: 0;
	padding: 0;
	position: relative;
	display: flex;
	min-height: 56px;
	align-items: center;
	background-color: #ffffff;
}

 .header-logo{
	position: absolute;
	top: 0;
	z-index: 1;
	left: 50%;
	transform: translateX(-50%);
}

.header-menu{
	margin: 0;
	padding: 0;
	width: 1195px;
	display: flex;
}

.header-menu li{
	width: 236px;
}

.header-menu li:nth-child(1),
.header-menu li:nth-child(2){
	padding-left: 70px;
	text-align: left;
}

.header-menu li:nth-child(3),
.header-menu li:nth-child(4){
	padding-right: 70px;
	text-align: right;
}

.header-menu li:nth-child(3){
	margin-left: auto;
}

.header-menu li:nth-child(4){
	color: #766357;
}

.nav-options{
	font-size: 14px;
	font-weight: bold;
	line-height: 24px;
	list-style: none;
	background-color: #ffffff;
}

.nav-options a{
	color:#000000;
}

.nav-options a:hover,
.hotels h2:hover{
	color: #81b3d2;
}

.nav-options a:active,
.hotels h2:active{
	color: rgba(0, 0, 0, 0.3);
}

.nav-options .current{
	color: #766357;
}

.visually-hidden{
	position: absolute;
	clip: rect(0 0 0 0);
	widows: 1px;
	height: 1px;
	margin: -1px;
	}

.slogan{
	font-size: 21px;
	font-weight: bold;
	line-height: 26px;
	text-align: center;
}

.main-screen{
	background-image: url(../img/landscape.jpg);
	background-repeat: no-repeat;
	background-position-y: 21%;
	text-align: center;
	padding-top: 76px;
	padding-bottom: 6px;
}

.main-screen::after{
	content: url(../img/polygon.svg);
	position: relative;
	top: 14px;
}


.why-sedona{
	background-color: #ffffff;
	padding-top: 39px;
}

.pros{
	margin-top: 27px;
	text-align: center;
}

.pros-container{
	min-height: 1098px;
	margin-top: 50px;
	display: flex;
	flex-direction: column;
}

.pro-1,
.pro-2{
	display: flex;
	align-items: center;
}

.pro-1 img,
.pro-2 img{
	display: block;
}	
.pro-1-left,
.pro-2-right{
	min-height: 256px;
	width: 400px;
	padding-top: 26px;
	background-color: #81b3d2;
	color: #ffffff;
}

.pro-1-left p.slogan,
.pro-2-right p.slogan{
	line-height: 21px;
}

.pro-1-left p:nth-child(2),
.pro-2-right p:nth-child(2){
	margin-top: 22px;
}

.pro-1-left p:nth-child(3),
.pro-2-right p:nth-child(3){
	margin-top: 19px;
    line-height: 21px;
}

.features{
	margin: 0px;
	padding: 0px;
	min-height: 330px;
	display: flex;
	list-style: none;
}

.features .housing p.pros,
.features .food p.pros,
.features .presents p.pros{
	margin-top: 20px;
    line-height: 21px;
}

.features .housing::before{
	content: url(../img/icon-1.svg);
	position: absolute;
	top: 60px;
}

.features .food::before{
	content: url(../img/icon-3.svg);
	position: absolute;
	top: 60px;
}

.features .presents::before{
	content: url(../img/icon-2.svg);
	position: absolute;
	top: 60px;
}

.features li{
	position: relative;
	padding-top: 161px;
	width: 400px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.features .slogan{
	margin: 0px;
}


.pro-2-5{
	margin: 0px;
	padding: 27px 0px 0px 0px;
	min-height: 256px;
	display: flex;
	list-style: none;
	background-color: #eeeeee;
}

.pro-2-5 li{
	width: 400px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.pro-2-5 li p.slogan{
	line-height: 21px;
}

.pro-2-5 li p:nth-child(2){
	margin-top: 0px;
}

.pro-2-5 li p:nth-child(3){
	margin-top: 5px;
    line-height: 21px;
}


.pre-form{
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-top: 50px;
}

.curious{
	margin: 0px;
	font-size: 30px;
	font-weight: bold;
	line-height: 36px;
	text-align: center;
}

.assist{
	text-align: center;
	line-height: 24px;
	margin-top:25px;
	margin-bottom: 0px;
}

.map{
	min-height: 593px;
	background-image: url(../img/map.png);
	position: relative;
}

.search{
	min-height: 85px;
	width: 568px;
	padding: 0px;
	margin-top: 48px;
	border: none;
	font-size: 21px;
	font-weight: bold;
	text-align: center;
	text-transform: uppercase;
	color: #ffffff;
	background-color: #766357;

}

.form-wrapper{
	width: 568px;
	padding: 55px;
	background-color: #ffffff;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	position: absolute;
	left: 316px;
}

.check-in-date,
.check-out-date{
	margin-bottom: 30px;
}

.tourists{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin-bottom: 54px;
}

.search:hover{
	background-color: #604e43;
}

.search:active{
	color: rgba(255, 255, 255, 0.3);
	background-color: #503e33;
}
.search-form{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	font-weight: bold;
	text-align: left;

}

.search-form button[type="submit"]{
	min-height: 58px;
	width: 458px;
	border: none;
	font-size: 21px;
	font-weight: bold;
	text-transform: uppercase;
	text-align: center;
	color: #ffffff;
	background-color: #81b3d2;
}
.search-form .check-in-date,
.search-form .check-out-date{
	display: flex;
	align-items: center;	
	position: relative; 
}

.search-form .check-in-date input,
.search-form .check-out-date input{
	width: 346px;
	min-height: 38px;
	padding-left: 15px;
	font-size: 14px;
	font-weight: 700;
	text-transform: uppercase;
}

.search-form .check-in-date input:focus,
.search-form .check-out-date input:focus{
	border: solid 2px #e5e5e5;
 	background-color: #ffffff;
 }

.search-form .check-in-date .calendar,
.search-form .check-out-date .calendar{
	position: absolute;
	top: 9px;
	right: 9px;
	padding: 0px;
	margin: 0px;
	border: none;
}

.search-form .check-in-date .calendar svg,
.search-form .check-out-date .calendar svg{
	fill: #cacaca;
}


.search-form .calendar svg:hover{
	fill: #000000;
}

.search-form .calendar svg:active{
	fill:#81b3d2;
}

.search-form .check-in-date label{
	margin-right: 27px;
}

.search-form .check-out-date label{
	margin-right: 23px;
}

.search-form button[type="submit"]:hover{
	background-color: #669ec0;
}

.search-form button[type="submit"]:active{
	color: rgba(255, 255, 255, 0.3);
	background-color: #5496bd;
}

.search-form input{
	background-color: #f2f2f2;
	border: none;
}

.search-form input:hover{
	background-color: #ebebeb;
}

.search-form input:focus{
	border: solid 2px #e5e5e5;
	background-color: #ffffff;
}

.search-form .tourists .adults label{
	margin-right: 41px;
}

.search-form .tourists .kids label{
	margin-right: 27px;
}

.search-form .tourists .adults input,
.search-form .tourists .kids input{
	margin: 0px;
	width: 38px;
	min-height: 38px;
	color: #000000;
	text-align: center;
	font-size: 14px;
	font-weight: 700;
}

.search-form .tourists .adults,
.search-form .tourists .kids{
	display: flex;
	align-items: center;
}

.search-form .tourists .adults{
	margin-right: 57px
}


.search-form .tourists button[type="button"]{
	margin: 0px;
	padding: 0px;
	width: 38px;
	min-height: 38px;
	color: #cacaca;
	border: none;
	font-size: 24px;
	font-weight: bold; 
}

.search-form .tourists button[type="button"]:hover{
	color: #000000;
}

.search-form .tourists button[type="button"]:active{
	color: #81b3d2;
}

.foot-container-main{
	position: absolute;
	bottom: 0;
	width: 100%;
	min-height: 120px;
	display:flex;
	flex-direction: row;
	align-items: center;
	padding-right: 100px;
	padding-left: 133px;
	background-color: #ffffff;
	opacity: 90%;
}

.foot-container{
	width: 100%;
	min-height: 120px;
	display:flex;
	flex-direction: row;
	align-items: center;
	padding-right: 100px;
	padding-left: 133px;
	background-color: #ffffff;
	opacity: 90%;
}

.footer p{
	margin: 0px;
	font-size: 21px;
	font-weight: bold;
	text-align: left;
}
.social{
	margin-left: 168px;
}

.icons{
	width: 150px;
	margin: 0px auto;
	padding: 0px;
	list-style: none;
	display: flex;
	justify-content: space-between;
}

.icons a{
	display: flex;
}

.icons li{
	display: flex;
	justify-content: center;
	align-items: center;
	width: 46px;
	height: 48px;
	background-color: #81b3d2;
}

.icons li:hover{
	background-color: #669ec0;

}

.icons li:active{
	background-color: #5496bd;
}

.icons li a svg:active{
	opacity: 0.3; 
}

.copyright a{
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 14px;
	line-height: 26px;
	font-weight: normal;
	color: #000000;
}

.footer p.copyright{
	margin: 0px 0px 0px auto;
}

.copyright a svg{
	width: 115px;
	height: 41px;
	margin-left: 8px;
}

.copyright a:hover{
	color: #81b3d2;
}

.copyright a:active{
	color: #bdbbbc;
}

.copyright a:hover path{
	fill: #81b3d2;
}

.copyright a:active path{
	fill: #bdbbbc;
}

.accommodation-features{
	min-height: 217px;
	padding: 28px 71px 0px;
	display: flex;
	background-image: url(../img/filter-background.jpg);
	background-repeat: no-repeat;
	background-position-y: -50px;
}


.accommodation-features li input[type="checkbox"]:checked, 
.accommodation-features li input[type="checkbox"]:not(:checked){
	position: absolute;
    left: -9999px;
}

.accommodation-features li{
	display: flex;
	align-items: center;
	position: relative;
	margin-bottom: 20px;
}

.accommodation-features li label{
	padding-left: 40px;
}


.comfort-items{
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}

.accommodation-type{
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	margin-left: 124px;
}

.comfort-items input + label::before,
.accommodation-type input + label::before{
	content: url(../img/checkbox-off.svg);
	position: absolute;
	left: 0px;
	top: 0px;
}

.comfort-items input:checked + label::before,
.accommodation-type input:checked + label::before{
	content: url(../img/checkbox-on.svg);
	position: absolute;
	left: 0px;
	top: 0px;
}

.items-block,
.types-block{
	list-style: none;
	margin: 0px;
	padding: 0px;
	color: #ffffff;
}

.filter-range{
	width: 330px;
	margin-left: auto;
	color: #ffffff;
	text-transform: uppercase;
}
.filter-range-title{
	margin-bottom: 23px;
	font-weight: 600;
	font-size: 16px;
	line-height: 21px;
	color: #ffffff;
}

.accommodation-features .filter-range .filter-range-title{
	margin-bottom: 11px;
}


.price-controls{
	position: relative;
	margin-bottom: 20px;
	font-size: 0;
	border: 2px solid #ffffff;
	border-radius: 2px;
}

.price-controls::after{
	content: "";
	position: absolute;
	top: 50%;
	left: 50%;
	width: 2px;
	height: 22px;
	background: #ffffff;
	transform: translate(-50%, -50%);
}

.price-controls label{
	line-height: 30px;
	vertical-align: top;
	color: inherit;
	font-size: 14px;
	font-weight: 400;
	text-transform: uppercase;
}

.price-controls .min-price,
.price-controls .max-price{
	width: 90px;
	padding-left: 72px;
}

.price-controls input{
	width: 50px;
	margin: 0;
	background: none;
	border: none;
	color: inherit;
	font-size: 16px;
	font-weight: 400;
	text-transform: uppercase;
}

.range-controls{
	position: relative;
	margin-bottom: 32px;
}

.range-controls .scale{
	height: 2px;
	background: rgba(255, 255, 255, 0.3);
}

.range-controls .bar {
	width: 80%;
	height: 2px;
	background: #ffffff;
}

.range-toggle{
	position: absolute;
	top: -7px;
	width: 4px;
	height: 4px;
	background: #ababab;
	border: 8px solid #ffffff;
	border-radius: 50%;
	box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
	cursor: pointer;
}

.range-toggle-min::after,
.range-toggle-max::after{
	content: url(../img/filter-button.svg);
	position: absolute;
    top: -10px;
    left: -10px;
}

.range-toggle-max{
	left: 80%;
}

.range-toggle:hover{
	background: #1c4f80;
	transform: scale(1.2);
}

.btn-transparent{
	display: block;
	margin: 0 auto;
	padding: 6px 35px;
	font-size: 14px;
	line-height: 20px;
	color: #ffffff;
	text-transform: uppercase;
	background: transparent;
	border: 2px solid #ffffff;
	border-radius: 2px;
	cursor: pointer;
}
.btn-transparent:hover{
	color: #000000;
	background: #ffffff;
}

.results{
	display: flex;
	flex-direction: column;
	background-color: #ffffff;
}

.found{
	min-height: 85px;
	display: flex;
	align-items: center;
	padding: 9px 72px;
	border-bottom: 1px solid rgba(0, 0, 0, 0.3);
	font-size: 12px;
	color: #000000;
	text-transform: uppercase;	
}

.too-big-text{
	margin-right: 53px;
	font-size: 21px;
	font-weight: bold;
	line-height: 26px;
	text-align: left;
	color: #000000;
}

.results .found a{
	border-bottom: 1px dotted #81b3d2;
	margin-left: 37px;
	color: rgba(0, 0, 0, 0.3);
	font-size: 12px;
	font-weight: 400;
	text-transform: uppercase;
}

.results .found a:hover{
	color: #81b3d2;
	border-bottom: 1px dotted #81b3d2;
}

.results .found a:active{
	color: #000000;
	border: none;
}

.results .found a.here-we-are{
	color: #81b3d2;
	border: none;
	margin-left: 37px;
}

.results .sort-items{
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 34px;
	min-height: 11px;
	margin-left: auto;
}

.results .sort-items a.dir-up,
.results .sort-items a.dir-down{
	margin: 0px;
	padding: 0px;
	border: none;
}

.results .sort-items a.dir-up:hover,
.results .sort-items a.dir-down:hover{
	border: none;
}

.results .sort-items a.dir-up svg path{
	fill: rgba(0, 0, 0, 0.3);
}

.results .sort-items a.dir-down svg path{
	fill: #81b3d2;
}

.results .sort-items a.dir-up svg path:hover,
.results .sort-items a.dir-down svg path:hover{
	fill: #81b3d2;
}

.results .sort-items a.dir-up svg path:active,
.results .sort-items a.dir-down svg path:active{
	fill: #000000;
}

.description{
	width: 258px;
}

.description p{
	margin-top: 6px;
}

.amara .description p span{
	margin-left: 35px;
}

 .quail .description p span{
	margin-left: 60px;
}

.poco-diablo .description p span{
	margin-left: 18px;
}

.amara,
.quail,
.poco-diablo{
	padding: 30px 72px;
	margin-left: 0; 
	border-bottom: 1px solid rgba(0, 0, 0, 0.3);
	display: flex;
	flex-direction: row;
}

.amara h2,
.quail h2,
.poco-diablo h2{
	margin: 0px;
	font-size: 21px;
	font-weight: bold;
	text-align: left;
}

.amara img,
.quail img,
.poco-diablo img{
	display: block;
	margin-right: 30px;
}

.hotels{
	margin: 0px;
	padding: 0px;
	list-style: none;
	display: flex;
	flex-direction: column;

}

.rating{
	width: 110px;
	margin-left: auto;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	text-align: right;

}

.rating p{
	width: 110px;
    min-height: 27px;
    padding-top: 3px;
    margin: 0;
    text-align: center;
    background-color: #f2f2f2;
}

.stars{
	display: flex;
	justify-content: flex-end;
	margin-bottom: 47px;
	padding: 0px;
}

.stars svg{
	margin-left: 6px;
}

.hotels{
	font-size: 14px;
	line-height: 21px;
	text-align: left; 
}

.hotels a{
	font-size: 14px;
	font-weight: bold;
	line-height: 21px;
	color: #ffffff;
}

.book-options{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.details{
	width: 110px;
	padding: 3px;
	display: block;
	background-color: #81b3d2;
	text-align: center;
}

.details:hover{
	background-color: #669ec0;
}

.details:active{
	color: rgba(255, 255, 255, 0.3);
	background-color: #5496bd;
}

.book{
	width: 142px;
	padding: 3px;
	display: block;
	text-align: center;
	padding: 8px auto;
	background-color: #766357;
}

.book:hover{
	background-color: #604e43;
}

.book:active{
	color: rgba(255, 255, 255, 0.3);
	background-color: #503e33;
}



